[Unit]
Description=Automatisches Abschalten der Festplatte

[Service]
ExecStart=/usr/bin/hdparm -S 241 /dev/sda
ExecStop=/usr/bin/hdparm -S 0 /dev/sda
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
